<a href="https://colab.research.google.com/github/StanleyNyadzayo/eee408labs/blob/main/Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 6 Python Programming - Analysing Datasets for Supervised learning Trees

In [11]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/university.csv")
type(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

pandas.core.frame.DataFrame

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Supervised-Learning-Tree').getOrCreate()

treedata = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/university.csv", header=True, inferSchema=True)
treedata.printSchema

<bound method DataFrame.printSchema of DataFrame[School: string, Private: string, Apps: int, Accept: int, Enroll: int, Top10perc: int, Top25perc: int, F_Undergrad: int, P_Undergrad: int, Outstate: int, Room_Board: int, Books: int, Personal: int, PhD: int, Terminal: int, S_F_Ratio: double, perc_alumni: int, Expend: int, Grad_Rate: int]>

Using functions from Lab 3 (pandas functions) to view data

In [7]:
# The method/function head() shows the first few rows (default is 5)
print("First 5 rows:")
display(df.head())

# Method or function tail() shows the last few rows.
print("\nLast 5 rows:")
display(df.tail())

# the method info() prints a summary of the Dataframe, it is helpful when checking for missing values
print("\nDataFrame Info:")
df.info()

# Display descriptive statistics for numerical columns to understand the distribution of data
print("\nDescriptive Statistics:")
display(df.describe())

# display() method with a parameter df.dtypes displays the data types of each column
print("\nColumn Data Types:")
display(df.dtypes)

# Show the shape of the DataFrame (number of rows and columns)
print("\nDataFrame Shape:")
print(df.shape)

# Display the column names
print("\nColumn Names:")
print(df.columns)

First 5 rows:

,School,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

Last 5 rows:

,School,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School       777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F_Undergrad  777 non-null    int64
 8   P_Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room_Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S_F_Ratio    777 non-null    float64
 16  perc_alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad_Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

Descriptive Statistics:

,Apps,Accept,Enroll,Top10perc,Top25perc,F_Undergrad,P_Undergrad,Outstate,Room_Board,Books,Personal,PhD,Terminal,S_F_Ratio,perc_alumni,Expend,Grad_Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

Column Data Types:

School          object
Private         object
Apps             int64
Accept           int64
Enroll           int64
Top10perc        int64
Top25perc        int64
F_Undergrad      int64
P_Undergrad      int64
Outstate         int64
Room_Board       int64
Books            int64
Personal         int64
PhD              int64
Terminal         int64
S_F_Ratio      float64
perc_alumni      int64
Expend           int64
Grad_Rate        int64
dtype: object

DataFrame Shape:
(777, 19)

Column Names:
Index(['School', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc',
       'Top25perc', 'F_Undergrad', 'P_Undergrad', 'Outstate', 'Room_Board',
       'Books', 'Personal', 'PhD', 'Terminal', 'S_F_Ratio', 'perc_alumni',
       'Expend', 'Grad_Rate'],
      dtype='object')

**Vector Assembelers**

In [8]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols =['Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc', 'F_Undergrad', 'P_Undergrad', 'Outstate', 'Room_Board', 'Books', 'Personal', 'PhD', 'Terminal', 'S_F_Ratio', 'perc_alumni', 'Expend', 'Grad_Rate'], outputCol='features')
from pyspark.ml.feature import StringIndexer
output = assembler.transform(treedata)
indexer = StringIndexer(inputCol="Private", outputCol="PrivateIndex")
output_fixed = indexer.fit(output).transform(output)
assembler.transform(treedata)
indexer.fit(output).transform(output)
#output_fixed.head()
output_fixed.show()

+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
|              School|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|            features|PrivateIndex|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
|Abilene Christian...|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200| 70|      78|     18.1|         12|  7041|       60|[1660.0,1232.0,72...|         0.0|
|  Adelphi University|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500| 29|      30|     12.2|         16| 10527|       56|[2186.0,1924.0,51...|         0.0|
|      Adrian College|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165| 53|      66|     12.9|         30|  8735|       54|[1428.0,1097.0,33...|         0.0|
| Agnes Scott College|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875| 92|      97|      7.7|         37| 19016|       59|[417.0,349.0,137....|         0.0|
|Alaska Pacific Un...|    Yes| 193|   146|    55|       16|       44|        249|        869|    7560|      4120|  800|    1500| 76|      72|     11.9|          2| 10922|       15|[193.0,146.0,55.0...|         0.0|
|   Albertson College|    Yes| 587|   479|   158|       38|       62|        678|         41|   13500|      3335|  500|     675| 67|      73|      9.4|         11|  9727|       55|[587.0,479.0,158....|         0.0|
|Albertus Magnus C...|    Yes| 353|   340|   103|       17|       45|        416|        230|   13290|      5720|  500|    1500| 90|      93|     11.5|         26|  8861|       63|[353.0,340.0,103....|         0.0|
|      Albion College|    Yes|1899|  1720|   489|       37|       68|       1594|         32|   13868|      4826|  450|     850| 89|     100|     13.7|         37| 11487|       73|[1899.0,1720.0,48...|         0.0|
|    Albright College|    Yes|1038|   839|   227|       30|       63|        973|        306|   15595|      4400|  300|     500| 79|      84|     11.3|         23| 11644|       80|[1038.0,839.0,227...|         0.0|
|Alderson-Broaddus...|    Yes| 582|   498|   172|       21|       44|        799|         78|   10468|      3380|  660|    1800| 40|      41|     11.5|         15|  8991|       52|[582.0,498.0,172....|         0.0|
|   Alfred University|    Yes|1732|  1425|   472|       37|       75|       1830|        110|   16548|      5406|  500|     600| 82|      88|     11.3|         31| 10932|       73|[1732.0,1425.0,47...|         0.0|
|   Allegheny College|    Yes|2652|  1900|   484|       44|       77|       1707|         44|   17080|      4440|  400|     600| 73|      91|      9.9|         41| 11711|       76|[2652.0,1900.0,48...|         0.0|
|Allentown Coll. o...|    Yes|1179|   780|   290|       38|       64|       1130|        638|    9690|      4785|  600|    1000| 60|      84|     13.3|         21|  7940|       74|[1179.0,780.0,290...|         0.0|
|        Alma College|    Yes|1267|  1080|   385|       44|       73|       1306|         28|   12572|      4552|  400|     400| 79|      87|     15.3|         32|  9305|       68|[1267.0,1080.0,38...|         0.0|
|     Alverno College|    Yes| 494|   313|   157|       23|       46|       1317|       1235|    8352|      3640|  650|    2449| 36|      69|     11.1|         26|  8127|       55|[494.0,313.0,157....|         0.0|
|American Internat...|    Yes|1420|  1093|   220|        9|       22|       1018|        287|    8700|      4780|  450|    1400| 78|      84|     14.7|         19|  7355|       69|[1420.0,1093.0,22...|         0.0|
|     Amherst College|    Yes|4302|   992|   418|       83|       96|       1593|          5|   19760|      5300|  660|    1598| 93|      98|      8.4|         63| 21424|      100|[4302.0,992.0,418...|         0.0|
| Anderson University|    Yes|1216|   908|   423|       19|       40|       1819|        281|   10100|      3520|  550|    1100| 48|      61|     12.1|         14|  7994|       59|[1216.0,908.0,423...|         0.0|
|  Andrews University|    Yes|1130|   704|   322|       14|       23|       1586|        326|    9996|      3090|  900|    1320| 62|      66|     11.5|         18| 10908|       46|[1130.0,704.0,322...|         0.0|
|Angelo State Univ...|     No|3540|  2001|  1016|       24|       54|       4190|       1512|    5130|      3592|  500|    2000| 60|      62|     23.1|          5|  4010|       34|[3540.0,2001.0,10...|         1.0|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+--------------------+------------+
only showing top 20 rows

In [12]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols =['Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc', 'F_Undergrad', 'P_Undergrad', 'Outstate', 'Room_Board', 'Books', 'Personal', 'PhD', 'Terminal', 'S_F_Ratio', 'perc_alumni', 'Expend', 'Grad_Rate'], outputCol='features')
from pyspark.ml.feature import StringIndexer
output = assembler.transform(treedata)
indexer = StringIndexer(inputCol="Private", outputCol="PrivateIndex")
output_fixed = indexer.fit(output).transform(output)

# Get the complete dataset selected and split ready for trainig models
final_data = output_fixed.select('features', 'PrivateIndex') # Used to select a subset of columns from a DataFrame.
trainData, testData = final_data.randomSplit([0.8, 0.2]) # randomSplit() is used to split a DataFrame into multiple subsets randomly.  The split ([0.7, 0.3]) determines the training and test data size split
final_data.select('features').show()

+--------------------+
|            features|
+--------------------+
|[1660.0,1232.0,72...|
|[2186.0,1924.0,51...|
|[1428.0,1097.0,33...|
|[417.0,349.0,137....|
|[193.0,146.0,55.0...|
|[587.0,479.0,158....|
|[353.0,340.0,103....|
|[1899.0,1720.0,48...|
|[1038.0,839.0,227...|
|[582.0,498.0,172....|
|[1732.0,1425.0,47...|
|[2652.0,1900.0,48...|
|[1179.0,780.0,290...|
|[1267.0,1080.0,38...|
|[494.0,313.0,157....|
|[1420.0,1093.0,22...|
|[4302.0,992.0,418...|
|[1216.0,908.0,423...|
|[1130.0,704.0,322...|
|[3540.0,2001.0,10...|
+--------------------+
only showing top 20 rows

In [15]:
#Decision tree classifier
from pyspark.sql import SparkSession
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline

# Initialize Spark session (if not already running, though it should be from previous cells)
# spark = SparkSession.builder.appName("DecisionTreeClassifiers").getOrCreate() # This line might be redundant if spark is already initialized

# Use the trainData and testData prepared in the previous cell
train_data = trainData
test_data = testData

# Define feature assembler to ensure the 'features' column is a vector
# Note: Your previous steps already created a 'features' vector,
# but this assembler can be useful in the pipeline if you were combining other columns.
# Since 'features' is already the correct format, this assembler stage might be simplified
# or even removed depending on the exact pipeline structure you intend.
# For now, I'll keep it but ensure it uses the existing 'features' column.
# If 'features' is already a VectorUDT, the assembler might not be strictly necessary
# but keeping it here demonstrates how to include it in a pipeline.
assembler = VectorAssembler(inputCols=["features"], outputCol="assembledFeatures")


# 1. Basic Decision Tree Classifier (default parameters)
# Use 'PrivateIndex' as the label column
dt_basic = DecisionTreeClassifier(labelCol="PrivateIndex", featuresCol="assembledFeatures", seed=1234)
pipeline_basic = Pipeline(stages=[assembler, dt_basic])
model_basic = pipeline_basic.fit(train_data)
predictions_basic = model_basic.transform(test_data)

# 2. Decision Tree with Entropy impurity
# Use 'PrivateIndex' as the label column
dt_entropy = DecisionTreeClassifier(
    labelCol="PrivateIndex",
    featuresCol="assembledFeatures",
    impurity="entropy",
    seed=1234
)
pipeline_entropy = Pipeline(stages=[assembler, dt_entropy])
model_entropy = pipeline_entropy.fit(train_data)
predictions_entropy = model_entropy.transform(test_data)

# 3. Tuned Decision Tree (Gini impurity, maxDepth=5)
# Use 'PrivateIndex' as the label column
dt_tuned = DecisionTreeClassifier(
    labelCol="PrivateIndex",
    featuresCol="assembledFeatures",
    impurity="gini",
    maxDepth=5,
    seed=1234
)
pipeline_tuned = Pipeline(stages=[assembler, dt_tuned])
model_tuned = pipeline_tuned.fit(train_data)
predictions_tuned = model_tuned.transform(test_data)

# Evaluate test error for each model
# Use 'PrivateIndex' as the label column
evaluator = MulticlassClassificationEvaluator(
    labelCol="PrivateIndex", predictionCol="prediction", metricName="accuracy"
)

# Calculate accuracy and test error
accuracy_basic = evaluator.evaluate(predictions_basic)
test_error_basic = 1.0 - accuracy_basic
accuracy_entropy = evaluator.evaluate(predictions_entropy)
test_error_entropy = 1.0 - accuracy_entropy
accuracy_tuned = evaluator.evaluate(predictions_tuned)
test_error_tuned = 1.0 - accuracy_tuned

# Print results
print(f"Basic Decision Tree - Test Accuracy: {accuracy_basic:.4f}, Test Error: {test_error_basic:.4f}")
print(f"Entropy Decision Tree - Test Accuracy: {accuracy_entropy:.4f}, Test Error: {test_error_entropy:.4f}")
print(f"Tuned Decision Tree (Gini, maxDepth=5) - Test Accuracy: {accuracy_tuned:.4f}, Test Error: {test_error_tuned:.4f}")

# Stop Spark session (optional, depending on if you plan to run more Spark code)
# spark.stop()

Basic Decision Tree - Test Accuracy: 0.9383, Test Error: 0.0617
Entropy Decision Tree - Test Accuracy: 0.9198, Test Error: 0.0802
Tuned Decision Tree (Gini, maxDepth=5) - Test Accuracy: 0.9383, Test Error: 0.0617

In [16]:
# Get the trained Decision Tree model from the pipeline
# The last stage in the pipeline is the Decision Tree Classifier
dt_model = model_tuned.stages[-1]

# Print the description of the tree model
print(dt_model.toDebugString)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_af7973aef7a1, depth=5, numNodes=35, numClasses=2, numFeatures=17
  If (feature 5 <= 3562.0)
   If (feature 7 <= 8037.5)
    If (feature 5 <= 1804.0)
     If (feature 7 <= 4363.5)
      Predict: 1.0
     Else (feature 7 > 4363.5)
      If (feature 8 <= 4609.0)
       Predict: 0.0
      Else (feature 8 > 4609.0)
       Predict: 1.0
    Else (feature 5 > 1804.0)
     If (feature 3 <= 18.5)
      If (feature 6 <= 85.5)
       Predict: 0.0
      Else (feature 6 > 85.5)
       Predict: 1.0
     Else (feature 3 > 18.5)
      If (feature 10 <= 1490.5)
       Predict: 0.0
      Else (feature 10 > 1490.5)
       Predict: 1.0
   Else (feature 7 > 8037.5)
    If (feature 3 <= 39.5)
     Predict: 0.0
    Else (feature 3 > 39.5)
     If (feature 15 <= 6765.0)
      Predict: 1.0
     Else (feature 15 > 6765.0)
      Predict: 0.0
  Else (feature 5 > 3562.0)
   If (feature 7 <= 10674.0)
    If (feature 14 <= 37.5)
     If (feature 0 <= 489.5)
      Predict: 0.0
     Else (feature 0 > 489.5)
      Predict: 1.0
    Else (feature 14 > 37.5)
     If (feature 3 <= 33.5)
      Predict: 1.0
     Else (feature 3 > 33.5)
      Predict: 0.0
   Else (feature 7 > 10674.0)
    If (feature 5 <= 8348.5)
     If (feature 1 <= 6005.5)
      Predict: 0.0
     Else (feature 1 > 6005.5)
      Predict: 1.0
    Else (feature 5 > 8348.5)
     If (feature 8 <= 6533.0)
      Predict: 1.0
     Else (feature 8 > 6533.0)
      Predict: 0.0

Unsupervised Learning K-Means

In [18]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('clustering').getOrCreate()
clusterdata = spark.read.format('libsvm').load('/content/drive/MyDrive/Colab Notebooks/kmeans_data.txt')
clusterdata.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|           (3,[],[])|
|  1.0|(3,[0,1,2],[0.1,0...|
|  2.0|(3,[0,1,2],[0.2,0...|
|  3.0|(3,[0,1,2],[9.0,9...|
|  4.0|(3,[0,1,2],[9.1,9...|
|  5.0|(3,[0,1,2],[9.2,9...|
+-----+--------------------+

In [19]:
# removing labels to focus on the features
unsupervised_data = clusterdata.select( 'features')
unsupervised_data.show()

+--------------------+
|            features|
+--------------------+
|           (3,[],[])|
|(3,[0,1,2],[0.1,0...|
|(3,[0,1,2],[0.2,0...|
|(3,[0,1,2],[9.0,9...|
|(3,[0,1,2],[9.1,9...|
|(3,[0,1,2],[9.2,9...|
+--------------------+

K-Means clustering mode from a tutorial in https://spark.apache.org/docs/latest/ml-clustering.html#k-means

In [23]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

#loads data
dataset = spark.read.format("libsvm").load("/content/drive/MyDrive/Colab Notebooks/kmeans_data.txt")

# Trains a k-means model.
kmeans = KMeans().setK(2).setSeed(1)
model = kmeans.fit(dataset)

# Make predictions
predictions = model.transform(dataset)

# Evaluate clustering by computing Silhoutte score
evaluator = ClusteringEvaluator()

silhoutte = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance =" +str(silhoutte))

# Show the result
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
  print(center)

Silhouette with squared euclidean distance =0.9997530305375207
Cluster Centers:
[9.1 9.1 9.1]
[0.1 0.1 0.1]